table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}


h1{
    text-align: center;
    text-decoration: underline;
    font-style: italic;
}

hr{
    width: 90%;
}
body{
    background-color: #816e56;
}

main{
    display: flex;
    flex-direction: row-reverse;
    background-color: tan;
    width: 100%;
}

.rightHalf{
    width: 50%;
}

.leftHalf{
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.coffee{
    display: flex;
    flex-direction: row;
    padding: 1em;
    margin: .5em;
    border-radius: 5px;
    align-items: start;
    border: 1px solid saddlebrown;
    width: 50%;
}

.coffeeName{
    margin-right: .5em;
    font-size: 1.5em;
    width: 50%;
    color: saddlebrown;
    font-style: oblique;
    padding-bottom: .5em;
}

.coffeeRoast{
    width: 50%;
    font-size: 1em;
    font-style: italic;
    align-self: flex-end;
    text-align: center;
    padding-bottom: .5em;
    position: relative;
    top: 1em;
}


#submit{
    width: 98%;
    background-color: rgb(81,135,198);
    margin: 1em auto;
    padding: .5em;
    color: white;
    border-color: lightgray;
    border-radius: 10px;
}

#searchbar{
    width: 95%;
    height: 2em;
    border-radius: 8px;
    border-color: lightgray;

}

#roast-selection{
    width: 97%;
    height: 2.5em;
    border-radius: 7px;
    border-color: lightgray;}

#user-choice{
    width: 95%;
    height: 2em;
    border-radius: 8px;
    border-color: lightgray;
}

#roast-selection-user{
    width: 97%;
    height: 2.5em;
    border-radius: 7px;
    border-color: lightgray;
}

#user-submit {
    width: 98%;
    background-color: rgb(81,135,198);
    margin: 1em auto;
    padding: .5em;
    color: white;
    border-color: lightgray;
    border-radius: 10px;
}